<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{common/navbar :: navbar}"></div>
<h1>Inventory List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory : ${inventoryList}">
        <td th:text="${inventory.id}">1</td>
        <td><a th:href="@{/inventory/edit/{id}(id=${inventory.id})}" th:text="${inventory.productName}">Product Name</a></td>
        <td th:text="${inventory.quantity}">10</td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/inventory/add}">
        <button type="button">Add New Inventory Item</button>
    </a>
</div>

<div th:if="${error}">
    <p style="color:red" th:text="${error}"></p>
</div>
</body>
</html>
