<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Search</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{common/navbar :: navbar}"></div>
<h1>Search Inventory</h1>
<form id="searchForm">
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="productName">

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity">

    <label for="price">price:</label>
    <input type="number" id="price" name="price">

    <label for="size">size:</label>
    <input type="text" id="size" name="size">

    <label for="color">color:</label>
    <input type="text" id="color" name="color">

    <label for="description">description:</label>
    <input type="text" id="description" name="description">

    <button type="button" onclick="searchInventories()">Search</button>
</form>

<h2>Results</h2>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Size</th>
        <th>Color</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="results">
    <!-- Results will be inserted here -->
    </tbody>
</table>

<script>
    const inventoryServiceUrl = '[[${inventoryServiceUrl}]]';
    const orderServiceUrl = '[[${orderServiceUrl}]]';

    function searchInventories() {

        const productName = document.getElementById('productName').value;
        const quantity = document.getElementById('quantity').value;
        const price = document.getElementById('price').value;
        const size = document.getElementById('size').value;
        const color = document.getElementById('color').value;
        const description = document.getElementById('description').value;

        const query = `
                query($filter: InventoryFilter) {
                    searchInventories(filter: $filter) {
                        id
                        productName
                        quantity
                        price
                        size
                        color
                        description
                    }
                }
            `;

        const variables = {
            filter: {
                productName: productName || null,
                quantity: quantity ? parseInt(quantity) : null,
                price: price ? parseFloat(price) : null,
                size: size || null,
                color: color || null,
                description: description || null
            }
        };

        axios.post(inventoryServiceUrl+'/api/inventory/graphql', {
            query: query,
            variables: variables
        })
            .then(response => {
                const results = response.data.data.searchInventories;
                let resultHtml = '';

                results.forEach(item => {
                    resultHtml += `<tr>
                                    <td>${item.id}</td>
                                    <td>${item.productName}</td>
                                    <td>${item.quantity}</td>
                                    <td>${item.price}</td>
                                    <td>${item.size}</td>
                                    <td>${item.color}</td>
                                    <td>${item.description}</td>
                                    <td><button type="button" class="btn btn-primary" onclick="orderProduct(${item.id})">Order</button></td>
                                   </tr>`;
                });

                document.getElementById('results').innerHTML = resultHtml;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    function orderProduct(id) {
        const orderEntity = {
            inventoryId: id,
            userId: "admin"
        };

        fetch(orderServiceUrl+'/api/order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(orderEntity)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Order successfully created:', data);
                alert('Order successfully created!');
                window.location.href = '/order';
            })
            .catch(error => {
                console.error('There was a problem with the order request:', error);
                alert('Failed to create order.');
            });
    }
</script>
</body>
</html>
