<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{common/navbar :: navbar}"></div>
<h1>Register User</h1>
<form th:action="@{/user/register}" th:object="${user}" method="post">
    <div>
        <label for="userId">User Id:</label>
        <input type="text" id="userId" th:field="*{userId}" required/>
    </div>
    <div>
        <label for="password">password:</label>
        <input type="text" id="password" th:field="*{password}" required/>
    </div>
    <div>
        <label for="userName">User Name:</label>
        <input type="text" id="userName" th:field="*{userName}" required/>
    </div>
    <div>
        <label for="email">email:</label>
        <input type="text" id="email" th:field="*{email}" required/>
    </div>
    <div>
        <button type="submit">Add Item</button>
    </div>
</form>
<div th:if="${error}">
    <p style="color:red" th:text="${error}"></p>
</div>
<a th:href="@{/user}">Back to User List</a>
</body>
</html>
