<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{common/navbar :: navbar}"></div>
<h1>User List</h1>
<table class="table">
    <thead>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.userId}">10</td>
        <td th:text="${user.userName}">10</td>
        <td th:text="${user.email}">10</td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/user/register}">
        <button type="button">Regist User</button>
    </a>
</div>

<div th:if="${error}">
    <p style="color:red" th:text="${error}"></p>
</div>
</body>
</html>
